.dual-range{
	
	position: relative;
	height: 3em;
	margin-top: 1em;		

	.dual-range__inputs {
		position: absolute;
		pointer-events: none;
		-webkit-appearance: none;

		&::-webkit-slider-thumb {
			pointer-events:auto;
		}

		&::-webkit-slider-runnable-track {
		    //width: 300px;
		    height: 0.01em;
		    background: transparent;
		    border: none;
		}

		&::-webkit-slider-thumb {
		    -webkit-appearance: none;
		    border: none;
		    height: 1em;
		    width: 0.3em;
		    //margin-left: -2em;
		    // COULD DO ALL COLOURING IN CSS (margin & width)
		    background: black;
		    margin-top: -4px;
		}

		&:focus {
		    outline: none;
		}

		&:focus::-webkit-slider-runnable-track {
		    background: #ccc;
		}
	}

	.dual-range__label{
		position: absolute;
		top: 1em;
	}
}


