
.dual-range{
	background-color: gray;
	position: relative;
	height: 2.5em;
	width:100%;

	.dual-range__inputs {
		width:100%;
		position: absolute;
		pointer-events: none;
		-webkit-appearance: none;

		&::-webkit-slider-thumb {
			pointer-events:auto;
		}

		&::-webkit-slider-runnable-track {
		    height: 0.001em;
		    background: none;
		    border: none;
		}

		&::-webkit-slider-thumb {
			z-index:100;
		    -webkit-appearance: none;
		    border: none;
		    height: 2.49em;
		    width: 2.6em;
		    background: darkgray;
		    margin-top: 0.001em;
		}

		&:focus {
		    outline: none;
		}

		&:focus::-webkit-slider-runnable-track {
		    background: none;
		}
	}

	.dual-range__label{
		pointer-events: none;
		position: absolute;
		width: 100%;
		text-align: center;
		top: 0.55em;
		color: black;
	}

	.dual-range__out-of-range{
		position: absolute;
		rect{
			fill: rgba(0,0,0,0.35);
		}
		
		
	}
}


