.drafts{

	position: absolute;
	top: 4em;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
}


.pitch{
	width: 2em;
	background-color: green;
}


.player-selection{

	flex: 1;
  	display: flex;
  	flex-direction: column;

	.player-filters{
		
	}
	
	.player-list{
		overflow: auto;

	}

}

