.player-filters{
	
}


.player-filters__name{
	input{
		width: 100%;
	}
}

.player-filters__club{
	select{
		width: 100%;
	}
}

.player-filters__position{
	
	ul{
		padding:0;
		margin: 0.2em 0;
		height:1.8em;
	}

	li{
		display: inline-block;
		width: 25%;
		text-align: center;
	}
}

.player-filters__price{

}

.player-filters__rank{

}

.player-filters__reset{
	display: inline-block;
	width: 50%;
	button{
		width: 100%;
	}
}

.player-filters__refresh{
	display: inline-block;
	width: 50%;
	button{
		width: 100%;
	}
}
