.player-list{
	width: 100%;
	
	ul{
		padding: 0;
	}
}


.player-list__row{
	margin: 0.2em 0;
	width: 100%;
	list-style-type: none;
	background-color: lightgray;

	div{
		display: inline-block;
		padding: 1.5%;
		font-size: 0.9em;
	}

	input{
		width: 100%;
	}

}

.player-list__name-field{
	width: 40%;
}