.player-list{
	width: 100%;
	
	ul{
		padding: 0;
		margin: 0;
	}
	// height: 10em;
	// overflow: scroll;
}


.player-list__row{
	position: relative;
	margin: 0.2em 0;
	width: 100%;
	list-style-type: none;
	background-color: lightgray;

	div{
		display: inline-block;
		padding: 1.5%;
		font-size: 0.9em;
	}

	input{
		width: 100%;
	}

	button{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 3em;

		&::before{
			content:'+';
		}
	}

}

.player-list__row--selected{
	opacity: 0.7;

	button{
		&::before{
			content:'-';
		}
	}

}


.player-list__name-field{
	width: 40%;
}